body {
	margin: 0;
	font-family: 'Cormorant Garamond', serif;
	font-size: 20px;
}

#banner {
	width: 100vw;
	height: 250px;
	background-color: papayawhip;
	background-size: cover;
	font-family: 'Cormorant Garamond', serif;
}

.bannera{
	justify-content: space-around;
	font-size: 35px;
	position: relative;
	color: darkred;
}
.bannera:hover{
	transform: scale(1.05)
}

nav {
	margin: 30px;
}


#bannerul{
	height: 200px;
	list-style-type: none;
	padding: 0px;
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	font-family: chivo;
	color: green;
}

.bannerli .bannera{
	display: block;
	text-align: center;
	padding: 14px 70px;
	font-size: 30px;
}


.img-circle{
	border-radius: 50%;
}


ul {
  list-style-type: none;
}


li {
	display: inline;
	justify-content: space-evenly;
}

a{
	text-decoration: none;
	color: black;
	font-size: 30px;
}

h1 {
	color:  #228B22;
	text-shadow: 2px 2px 5px #D8FDE2;
}

.img-circle {
	border-radius: 47%;
	border: 1px solid floralwhite;
}

.img.plantes {
	object-fit: cover;
}

.cotegauche {
	display: flex;
}

a {
	text-decoration: none;
	background-color:  none;
	color: #228B22;
}
a:hover {color: #FFA500;}

body {
	text-align: center;
	background-image: url(FondPlantesClair.gif);
	font-family: 'Cormorant Garamond', serif;
	display:  flex;
	flex-direction:  column;
	align-items: center;
}

.DivGenerale {
	background-color: white;
	width: 550px; 
	margin: 30px; 
	padding: 10px 20px;
	border: 5px solid #228B22;
	box-shadow: 2px 2px 2px #6B8E23;
}

.profil {
	align-items: flex-start;
}


div.cotegauche:hover{
	transform: scale(1.04);
}

ul {
  list-style-type: none;
}

li {
	display: inline;
}

.fa-brands:hover{
	transform: scale(1.25);
}

i {
	width:  40px;
	font-size: 30px;

}


h2 {
	color: #FFA500;
	font-weight: 900;
}

p{
	margin: 2px;
}

h3 {
	margin: 2px;
}



#footer{
	background-color: papayawhip;
	color: darkred;
	text-align: center;
	margin-top: 40px;
	height:  200px;
	justify-content: center;
	justify-items: center;
	margin: 0;
	width: 100%;
}

#footer a {
	text-decoration: none;
	color: darkred;
	font-size: 20px;
	justify-items: center;
}


ul {
  list-style-type: none;
}

#reseaux p {
	display: inline;
}

.fa-brands:hover{
	transform: scale(1.25);
}

i {
	width:  40px;
	font-size: 30px;

}
#contact{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 450px;
	margin: auto;
}

